<%- include("header") %>

    <script>
        function computePrice() {
            var inputPrice = document.getElementById('inputPrice');
            var totalPrice = document.getElementById('totalPrice');
            var returnPrice = document.getElementById('returnPrice');

            returnPrice.value = inputPrice.value - totalPrice.value;
        }
    </script>

    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-check"></i> จบการขาย
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label>ยอดเงินทั้งหมด</label>
                        <input id="totalPrice" class="form-control text-right" disabled value="<%= totalPrice %>" />
                    </div>
                    <div class="form-group">
                        <label>รับเงิน</label>
                        <input id="inputPrice" name="inputPrice" class="form-control text-right" onkeyup="computePrice()" />
                    </div>
                    <div class="form-group">
                        <label>เงินทอน</label>
                        <input id="returnPrice" name="returnPrice" class="form-control text-right bg-light" readonly />
                    </div>

                    <a class="btn btn-lg btn-secondary" href="/sale">
                        <i class="fa fa-arrow-left"></i> ยกเลิก
                    </a>
                    <button class="btn btn-lg btn-success">
                        <i class="fa fa-check"></i> ยืนยันจบการขาย
                    </button>
                </form>
            </div>
        </div>
    </div>
    <%- include("footer") %>